old/
gmail_cred
plots/
.Rproj.user
trash/
ppt/
# RStudio clutter
.Rproj.user/
.Rhistory
.RData
.Ruserdata
trash.qmd
# Ignore all outputs by default
outputs/**
# But keep "paper-ready" artifacts
!outputs/paper/**
!outputs/paper/*/
# Ignore all data by default
data/**
# But keep curated small derived inputs & documentation
!data/paper/**
!data/paper/*/
!data/registry.csv
!data/README.md
